body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  /*background-image: image("white-wood.jpg");*/
}
/*<head>
<style>
body {
  background-image: url("paper.gif");
}
</style>
</head>*/

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.indifferent {
  border: 1px solid #d6de13;
  box-shadow: -1px 1px #d6de13, -2px 2px #d6de13, -3px 3px #d6de13, -4px 4px #d6de13, -5px 5px #d6de13;
  background-color: #f5f542;
}

.dubious {
  border: 1px solid #9e1010;
  box-shadow: -1px 1px #9e1010, -2px 2px #9e1010, -3px 3px #9e1010, -4px 4px #9e1010, -5px 5px #9e1010;
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}
